version: "3.8"

services:
  db:
    image: postgres:alpine
    restart: always
    env_file:
      - .env
    volumes:
      - /run/media/fabio/nextcloud/postgres:/var/lib/postgresql/data
    secrets:
      - postgres_password

  redis:
    image: redis:alpine
    restart: always
  
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/letsencrypt:/var/www/letsencrypt:ro

  smtp:
    image: namshi/smtp
    restart: always
    environment: 
      - CERTIFICATE_PATH=/etc/letsencrypt/live/eathtespagheti.eu/fullchain.pem
      - KEY_PATH=/etc/letsencrypt/live/eathtespagheti.eu/privkey.pem
      - MAILNAME=eathtespagheti.eu
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
  
  nextcloud:
    build: ./custom-nextcloud
    image: eathtespagheti-nextcloud
    restart: always
    env_file:
      - .env
    environment: 
      - POSTGRES_HOST=db
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_password
      - NEXTCLOUD_ADMIN_USER=fabio
      - REDIS_HOST=redis
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost 192.168.1.2 cloud.eathtespagheti.eu direct.eathtespagheti.eu
      - OVERWRITEPROTOCOL=https
      - SMTP_HOST=smtp
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=xnextcloudx
      - MAIL_DOMAIN=eathtespagheti.eu
      - PHP_MEMORY_LIMIT=8G
      - PHP_UPLOAD_LIMIT=16G
    volumes:
      - /run/media/fabio/nextcloud/nextcloud-data:/var/www/html
      - /run/media/fabio/Alpha:/media/Alpha
      - /run/media/fabio/Beta:/media/Beta
    depends_on:
      - db
      - redis
      - nginx
      - smtp
    secrets:
      - nextcloud_admin_password
      - postgres_password
  
  navidrome:
    image: deluan/navidrome:latest
    restart: always
    user: 1000:1000
    depends_on:
      - nginx
    env_file: integration_keys.env # Contains Last.fm and Spotify integration keys
    environment:
      ND_SCANINTERVAL: 24h
      ND_ENABLETRANSCODINGCONFIG: "true"
      ND_LOGLEVEL: info  
      ND_BASEURL: "/navidrome"
      ND_ENABLEGRAVATAR: "true"
    volumes:
      - $XDG_DATA_HOME/navidrome:/data
      - $HOME/Music:/music:ro
  
  transmission:
    image: ghcr.io/linuxserver/transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - USER=fabio
      - FILE__PASS=/run/secrets/transmission_password
    volumes:
      - $XDG_CONFIG_HOME/transmission-daemon:/config
      - /run/media/fabio/Beta:/run/media/fabio/Beta
      - /run/media/fabio/Alpha:/run/media/fabio/Alpha
      - /run/media/fabio/Beta/fabio/Music:/home/fabio/Music
    ports:
      - 51413:51413
      - 51413:51413/udp
    secrets:
      - transmission_password
  
  jellyfin:
    privileged: true
    build: custom-jellyfin
    image: eathtespagheti/jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - JELLYFIN_PublishedServerUrl=192.168.1.2
      - LIBVA_DRIVER_NAME=iHD
    restart: always
    group_add:
      - 989 # Render group for HW Acceleration
    devices: 
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - $XDG_CONFIG_HOME/jellyfin:/config
      - jellyfinCache:/cache
      - /run/media/fabio/Alpha/Film:/media
      - /run/media/fabio/Alpha/SerieTV:/media2
      - $HOME/Music:/music
    restart: unless-stopped
    depends_on: 
      - nginx
  
  ethminer:
    build: ethminer
    image: eathtespagheti/ethminer:0.19.0
    user: 1000:1000
    restart: always
    environment: 
      - SCHEME=stratum
      - ETHWALLET=0x8bDD239DA91445e4EE2d1e57274C6C8977bd6726
      - WORKERNAME=BigChameleon
      - POOLADDRESS=eu1.ethermine.org
      - POOLPORT=4444
      - API_PORT=80
      - RECHECK_TIME=2000
    volumes: 
      - /etc/OpenCL:/etc/OpenCL:ro
      - /usr/lib:/usr/externalibs:ro
      - /opt/amdgpu:/opt/amdgpu:ro
      - /opt/amdgpu-pro:/opt/amdgpu-pro:ro
      - /usr/share/libdrm:/usr/share/libdrm:ro
    devices: 
      - /dev/dri/card1:/dev/dri/card1
      - /dev/dri/renderD129:/dev/dri/renderD129
  
  bitwarden:
    image: bitwardenrs/server:alpine
    user: 1000:1000
    restart: always
    volumes: 
      - $XDG_DATA_HOME/bitwarden:/data
    ports: 
      - 8080:80
    depends_on: 
      - nginx
    environment: 
      - DOMAIN=https://eathtespagheti.eu/bitwarden
      - SMTP_HOST=smtp
      - SMTP_FROM=bitwarden@eathtespagheti.eu
      - SMTP_SSL=false
  
  cloudflare-ddns:
    image: oznu/cloudflare-ddns:latest
    restart: always
    env_file: 
      - .cloudflareToken
    environment:
      - ZONE=eathtespagheti.eu
      - PROXIED=true

secrets:
  nextcloud_admin_password:
    file: ./secrets/nextcloud_admin_password
  postgres_password:
    file: ./secrets/postgres_password
  transmission_password:
    file: ./secrets/transmission_password

volumes: 
  jellyfinCache: