version: "3.8"

services:
  # Databases
  db:
    image: postgres:alpine
    restart: always
    env_file:
      - .env
    volumes:
      - /run/media/fabio/Cloud/postgres:/var/lib/postgresql/data
    secrets:
      - postgres_password
  
  mariadb:
    image: mariadb
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: mysqld --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=50
    volumes:
      - /run/media/fabio/Cloud/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql-root
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql-user
      - MYSQL_DATABASE=photoprism
      - MYSQL_USER=photoprism
    secrets:
      - mysql-root
      - mysql-user

  # System Management/Optimization
  redis:
    image: redis:alpine
    restart: always
  
  watchtower:
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  cloudflare-ddns:
    image: oznu/cloudflare-ddns
    restart: always
    env_file: 
      - .cloudflareToken
    environment:
      - ZONE=eathtespagheti.eu
      - PROXIED=true
  
  # Server
  nginx:
    hostname: nginx
    image: nginx:alpine
    restart: always
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/letsencrypt:/var/www/letsencrypt:ro
      - /var/cache/pacman/pkg:/pkgcache:ro

  smtp:
    image: namshi/smtp
    restart: always
    environment: 
      - CERTIFICATE_PATH=/etc/letsencrypt/live/eathtespagheti.eu/fullchain.pem
      - KEY_PATH=/etc/letsencrypt/live/eathtespagheti.eu/privkey.pem
      - MAILNAME=eathtespagheti.eu
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
  
  # Cloud
  nextcloud:
    hostname: xNextcloudx
    build: ./custom-nextcloud
    image: eathtespagheti-nextcloud
    restart: always
    ports:
      - 10000:80
    env_file:
      - .env
    environment: 
      - POSTGRES_HOST=db
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_password
      - NEXTCLOUD_ADMIN_USER=fabio
      - REDIS_HOST=redis
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost 192.168.1.* cloud.eathtespagheti.eu direct.eathtespagheti.eu
      - TRUSTED_PROXIES=192.168.1.* cloud.eathtespagheti.eu direct.eathtespagheti.eu
      - OVERWRITEPROTOCOL=https
      - SMTP_HOST=smtp
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=xnextcloudx
      - MAIL_DOMAIN=eathtespagheti.eu
      - PHP_MEMORY_LIMIT=8G
      - PHP_UPLOAD_LIMIT=16G
    volumes:
      - /run/media/fabio/Cloud/nextcloud-data:/var/www/html
      - /run/media/fabio/Alpha:/media/Alpha
      - /run/media/fabio/Beta:/media/Beta
    depends_on:
      - db
      - redis
      - nginx
      - smtp
    secrets:
      - nextcloud_admin_password
      - postgres_password
  
  # Media

  calibre:
    hostname: Calibre
    image: ghcr.io/linuxserver/calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - DOCKER_MODS=linuxserver/calibre-web:calibre
    volumes:
      - $XDG_DATA_HOME/calibre-web:/config
      - /run/media/fabio/Beta/fabio/Documents/Libri:/books
    ports:
      - 10007:8083
    restart: unless-stopped

  lms:
    hostname: lms
    image: epoupon/lms
    restart: unless-stopped
    user: 1000:1000
    ports:
      - 10001:5082
    depends_on:
      - nginx
    volumes:
      - $XDG_DATA_HOME/lms:/var/lms
      - $HOME/Music:/music:ro

  jellyfin:
    hostname: Jellyfin
    privileged: true
    restart: unless-stopped
    build: custom-jellyfin
    image: eathtespagheti/jellyfin
    ports:
      - 10002:8096
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - JELLYFIN_PublishedServerUrl=https://videos.eathtespagheti.eu
      - LIBVA_DRIVER_NAME=iHD
    group_add:
      - 989 # Render group for HW Acceleration
    devices: 
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - /run/media/fabio/Beta/fabio/.config/jellyfin:/config
      - jellyfinCache:/cache
      - /run/media/fabio/Alpha/Film:/media
      - /run/media/fabio/Alpha/SerieTV:/media2
      - /run/media/fabio/Alpha/torrents:/media3
      - $HOME/Music:/music
      - /tmp/jellyfin:/config/data/transcodes
    restart: unless-stopped
    depends_on: 
      - nginx
    
  photoprism:
    hostname: Photoprism
    image: photoprism/photoprism
    restart: unless-stopped
    ports:
      - 10003:80
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    env_file:
      - secrets/photoprism.env
    environment:
      - PHOTOPRISM_HTTP_PORT=80
      - PHOTOPRISM_HTTP_COMPRESSION=gzip
      - PHOTOPRISM_DEBUG=false
      - PHOTOPRISM_PUBLIC=false
      - PHOTOPRISM_READONLY=false
      - PHOTOPRISM_EXPERIMENTAL=true
      - PHOTOPRISM_DISABLE_WEBDAV=false
      - PHOTOPRISM_DISABLE_SETTINGS=false
      - PHOTOPRISM_DISABLE_TENSORFLOW=false
      - PHOTOPRISM_DARKTABLE_PRESETS=false
      - PHOTOPRISM_DETECT_NSFW=true
      - PHOTOPRISM_UPLOAD_NSFW=true
      - PHOTOPRISM_DATABASE_DRIVER=mysql
      - PHOTOPRISM_DATABASE_SERVER=mariadb:3306
      - PHOTOPRISM_DATABASE_NAME=photoprism
      - PHOTOPRISM_DATABASE_USER=photoprism
      - PHOTOPRISM_SITE_URL=https://photos.eathtespagheti.eu
      - PHOTOPRISM_SITE_TITLE=PhotoPrism
      - PHOTOPRISM_SITE_CAPTION=Browse Your Life
      - PHOTOPRISM_SITE_DESCRIPTION=xPHOTOSx
      - PHOTOPRISM_SITE_AUTHOR=eathtespagheti
    user: 1000:1000
    depends_on: 
      - mariadb
    volumes:
      - /run/media/fabio/Beta/fabio/Pictures:/photoprism/originals
      - /run/media/fabio/Cloud/photoprism:/photoprism/storage
  
  # Dockerized softwares & utilities

  bind9:
    image: internetsystemsconsortium/bind9:9.16
    hostname: bind9
    restart: always
    volumes: 
      - ./bind:/etc/bind:ro
    ports: 
      - 53:53/udp
      - 53:53/tcp
      - 127.0.0.1:953:953/tcp

  netdata:
    image: netdata/netdata
    hostname: BigChameleon
    user: 1000:1000
    restart: unless-stopped
    ports: 
      - 19999:19999
    volumes: 
      - $XDG_CONFIG_HOME/netdata:/etc/netdata
      - /run/media/fabio/Cloud/netdata:/var/lib/netdata
      - $XDG_CACHE_HOME/netdata:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
    cap_add: 
      - SYS_PTRACE
    security_opt: 
      - apparmor=unconfined

  picard:
    image: mikenye/picard
    restart: unless-stopped
    ports:
      - 5800:5800
    environment:
      - DISPLAY_HEIGHT=950
    volumes:
      - $XDG_CONFIG_HOME/picard:/config:rw
      - /run/media/fabio/Beta/fabio/Music:/storage:rw

  transmission:
    hostname: Transmission
    image: ghcr.io/linuxserver/transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - USER=fabio
      - FILE__PASS=/run/secrets/transmission_password
    volumes:
      - $XDG_CONFIG_HOME/transmission-daemon:/config
      - /run/media/fabio/Beta:/run/media/fabio/Beta
      - /run/media/fabio/Alpha:/run/media/fabio/Alpha
      - /run/media/fabio/Beta/fabio/Music:/home/fabio/Music
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    secrets:
      - transmission_password
  
  ethminer:
    hostname: BigChameleon
    build: ethminer
    image: eathtespagheti/ethminer:0.19.0
    user: 1000:1000
    restart: always
    ports:
      - 10005:80
    environment: 
      - SCHEME=stratum
      - ETHWALLET=0x8bDD239DA91445e4EE2d1e57274C6C8977bd6726
      - WORKERNAME=BigChameleon
      - POOLADDRESS=eu1.ethermine.org
      - POOLPORT=4444
      - API_PORT=80
      - RECHECK_TIME=2000
    volumes: 
      - /etc/OpenCL:/etc/OpenCL:ro
      - /usr/lib:/usr/externalibs:ro
      - /opt/amdgpu:/opt/amdgpu:ro
      - /opt/amdgpu-pro:/opt/amdgpu-pro:ro
      - /usr/share/libdrm:/usr/share/libdrm:ro
    devices: 
      - /dev/dri/card1:/dev/dri/card1
      - /dev/dri/renderD129:/dev/dri/renderD129
  
  bitwarden:
    hostname: Bitwarden
    image: bitwardenrs/server:alpine
    user: 1000:1000
    restart: always
    ports:
      - 10006:80
    volumes: 
      - $XDG_DATA_HOME/bitwarden:/data
    depends_on: 
      - nginx
    environment:
      - DOMAIN=https://secrets.eathtespagheti.eu
      - SMTP_HOST=smtp
      - SMTP_FROM=bitwarden@eathtespagheti.eu
      - SMTP_SSL=false
  
  collabora:
    hostname: Collabora
    image: collabora/code
    restart: unless-stopped
    depends_on: 
      - nginx
    ports: 
      - 9980:9980
    env_file: secrets/collabora.env
    environment: 
      - username=fabio
      - server_name=collabora.eathtespagheti.eu
      - domain=cloud.eathtespagheti.eu

  yacht:
    hostname: Yacht
    image: selfhostedpro/yacht
    restart: always
    environment: 
      - PUID=1000
      - GUID=1000
      - ADMIN_EMAIL=sussarellu98@gmail.com
      - COMPOSE_DIR=/compose
    ports: 
      - 10004:8000
    volumes: 
      - /var/run/docker.sock:/var/run/docker.sock
      - $XDG_CONFIG_HOME/yacht:/config
      - $PROJECTS_FOLDER/dockercomposer:/compose

secrets:
  nextcloud_admin_password:
    file: ./secrets/nextcloud_admin_password
  postgres_password:
    file: ./secrets/postgres_password
  mysql-root:
    file: ./secrets/mysql-root
  mysql-user:
    file: ./secrets/mysql-user
  transmission_password:
    file: ./secrets/transmission_password

volumes: 
  jellyfinCache:
