version: "3.8"

services:
  # Databases
  db:
    image: postgres:13.4-alpine
    restart: always
    env_file:
      - nextcloud/nextcloud.env
    volumes:
      - /run/media/fabio/Configs/postgres:/var/lib/postgresql/data
    secrets:
      - postgres_password
  
  mariadb:
    image: mariadb
    restart: unless-stopped
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    command: mysqld --transaction-isolation=READ-COMMITTED --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --max-connections=512 --innodb-rollback-on-timeout=OFF --innodb-lock-wait-timeout=50
    volumes:
      - /run/media/fabio/Configs/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql-root
      - MYSQL_PASSWORD_FILE=/run/secrets/mysql-user
      - MYSQL_DATABASE=photoprism
      - MYSQL_USER=photoprism
    secrets:
      - mysql-root
      - mysql-user

  # System Management/Optimization
  redis:
    image: redis:alpine
    restart: always
  
  watchtower:
    image: containrrr/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  cloudflare-ddns:
    image: oznu/cloudflare-ddns
    restart: always
    env_file: 
      - secrets/cloudflareToken
    environment:
      - ZONE=eathtespagheti.eu
      - PROXIED=true
  
  # Server
  nginx:
    hostname: nginx
    image: nginx:alpine
    restart: always
    network_mode: host
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/letsencrypt:/var/www/letsencrypt:ro
      - /var/cache/pacman/pkg:/pkgcache:ro

  smtp:
    image: namshi/smtp
    restart: always
    environment: 
      - CERTIFICATE_PATH=/etc/letsencrypt/live/eathtespagheti.eu/fullchain.pem
      - KEY_PATH=/etc/letsencrypt/live/eathtespagheti.eu/privkey.pem
      - MAILNAME=eathtespagheti.eu
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
  
  # Cloud
  nextcloud:
    hostname: xNextcloudx
    image: eathtespagheti/nextcloud
    restart: always
    ports:
      - 10000:80
    env_file:
      - nextcloud/nextcloud.env
    environment: 
      - POSTGRES_HOST=db
      - NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_admin_password
      - NEXTCLOUD_ADMIN_USER=fabio
      - REDIS_HOST=redis
      - NEXTCLOUD_TRUSTED_DOMAINS=localhost 192.168.1.* cloud.eathtespagheti.eu direct.eathtespagheti.eu
      - TRUSTED_PROXIES=192.168.1.* cloud.eathtespagheti.eu direct.eathtespagheti.eu
      - OVERWRITEPROTOCOL=https
      - SMTP_HOST=smtp
      - SMTP_AUTHTYPE=PLAIN
      - MAIL_FROM_ADDRESS=xnextcloudx
      - MAIL_DOMAIN=eathtespagheti.eu
      - PHP_MEMORY_LIMIT=1G
      - PHP_UPLOAD_LIMIT=16G
    volumes:
      - /run/media/fabio/Nextcloud:/var/www/html
      - /run/media/fabio/Twins/Alpha:/media/Alpha
    depends_on:
      - db
      - redis
      - nginx
      - smtp
    secrets:
      - nextcloud_admin_password
      - postgres_password
  
  # Media

  calibre:
    hostname: Calibre
    image: ghcr.io/linuxserver/calibre-web
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - DOCKER_MODS=linuxserver/calibre-web:calibre
    volumes:
      - /run/media/fabio/Configs/Calibre:/config
      - /run/media/fabio/Nextcloud/data/fabio/files/Documenti/Libri:/books
    ports:
      - 10007:8083
    restart: unless-stopped

  lms:
    hostname: lms
    image: epoupon/lms
    restart: unless-stopped
    user: 1000:1000
    ports:
      - 10001:5082
    depends_on:
      - nginx
    volumes:
      - /run/media/fabio/Configs/LMS:/var/lms
      - /run/media/fabio/Nextcloud/data/fabio/files/Music:/music:ro

  jellyfin:
    hostname: Jellyfin
    privileged: true
    restart: unless-stopped
    image: eathtespagheti/jellyfin
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - JELLYFIN_PublishedServerUrl=https://videos.eathtespagheti.eu
      - LIBVA_DRIVER_NAME=iHD
    group_add:
      - 989 # Render group for HW Acceleration
    devices: 
      - /dev/dri/card0:/dev/dri/card0
      - /dev/dri/renderD128:/dev/dri/renderD128
    volumes:
      - /run/media/fabio/Jellyfin:/config
      - jellyfinCache:/cache
      - /run/media/fabio/Twins/Alpha/Film:/media
      - /run/media/fabio/Twins/Alpha/SerieTV:/media2
      - /run/media/fabio/Twins/Alpha/torrents:/media3
      - $HOME/Music:/music
      - /tmp/jellyfin:/config/data/transcodes
    restart: unless-stopped
    depends_on: 
      - nginx
    
  photoprism:
    hostname: Photoprism
    image: thielepaul/photoprism:db-api
    restart: unless-stopped
    ports:
      - 10003:80
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    env_file:
      - secrets/photoprism.env
    environment:
      - PHOTOPRISM_HTTP_PORT=80
      - PHOTOPRISM_HTTP_COMPRESSION=gzip
      - PHOTOPRISM_DEBUG=false
      - PHOTOPRISM_PUBLIC=false
      - PHOTOPRISM_READONLY=false
      - PHOTOPRISM_EXPERIMENTAL=true
      - PHOTOPRISM_DISABLE_WEBDAV=false
      - PHOTOPRISM_DISABLE_SETTINGS=false
      - PHOTOPRISM_DISABLE_TENSORFLOW=false
      - PHOTOPRISM_DARKTABLE_PRESETS=false
      - PHOTOPRISM_DETECT_NSFW=true
      - PHOTOPRISM_UPLOAD_NSFW=true
      - PHOTOPRISM_DATABASE_DRIVER=mysql
      - PHOTOPRISM_DATABASE_SERVER=mariadb:3306
      - PHOTOPRISM_DATABASE_NAME=photoprism
      - PHOTOPRISM_DATABASE_USER=photoprism
      - PHOTOPRISM_SITE_URL=https://photos.eathtespagheti.eu
      - PHOTOPRISM_SITE_TITLE=PhotoPrism
      - PHOTOPRISM_SITE_CAPTION=Browse Your Life
      - PHOTOPRISM_SITE_DESCRIPTION=xPHOTOSx
      - PHOTOPRISM_SITE_AUTHOR=eathtespagheti
      - PHOTOPRISM_SPONSOR=true
    user: 1000:1000
    depends_on: 
      - mariadb
      - nginx
    volumes:
      - /run/media/fabio/Photoprism:/photoprism/storage
      - /run/media/fabio/Nextcloud/data/fabio/files/Pictures:/photoprism/originals
  
  # IoT

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant
    restart: always
    privileged: true
    network_mode: host
    environment: 
      - PUID=1000
      - PGID=1000
    volumes: 
      - /etc/localtime:/etc/localtime:ro
      - /run/media/fabio/Configs/HomeAssistant:/config
      - /run/media/fabio/Configs/HomeAssistant/docker/run:/etc/services.d/home-assistant/run

  # Websites

  react_ultimate_resume:
    image: eathtespagheti/react-ultimate-resume
    user: 1000:1000
    ports: 
      - 10012:3000
    volumes: 
      - ./react_ultimate_resume/json_stub.json:/react-ultimate-resume/src/data/json_stub.json

  # Dockerized softwares & utilities

  bitwarden:
    hostname: Bitwarden
    image: bitwardenrs/server:alpine
    user: 1000:1000
    restart: always
    ports:
      - 10006:80
    volumes: 
      - /run/media/fabio/Bitwarden:/data
    depends_on: 
      - nginx
    environment:
      - DOMAIN=https://secrets.eathtespagheti.eu
      - SMTP_HOST=smtp
      - SMTP_FROM=bitwarden@eathtespagheti.eu
      - SMTP_SSL=false

  bind9:
    image: internetsystemsconsortium/bind9:9.16
    hostname: bind9
    restart: always
    volumes: 
      - ./bind:/etc/bind:ro
    ports: 
      - 53:53/udp
      - 53:53/tcp
      - 127.0.0.1:953:953/tcp

  dashboard:
    image: phntxx/dashboard
    restart: unless-stopped
    volumes:
      - ./dashboard:/app/data:ro
    ports:
      - 10009:8080
    depends_on: 
      - nginx

  ethminer:
    hostname: BigChameleon
    image: eathtespagheti/ethminer
    user: 1000:1000
    restart: always
    ports:
      - 10005:80
    environment: 
      - SCHEME=stratum1+tcp
      - USERNAME=BigChameleon
      - WORKERNAME=BigChameleon.001
      - POOLADDRESS=ethash.poolbinance.com
      - POOLPORT=1800
      - API_PORT=80
      - RECHECK_TIME=2000
      - PASSWORD=123456
    volumes: 
      - /etc/OpenCL:/etc/OpenCL:ro
      - /usr/lib:/usr/externalibs:ro
      - /opt/amdgpu:/opt/amdgpu:ro
      - /opt/amdgpu-pro:/opt/amdgpu-pro:ro
      - /usr/share/libdrm:/usr/share/libdrm:ro
    devices: 
      - /dev/dri/card1:/dev/dri/card1
      - /dev/dri/renderD129:/dev/dri/renderD129

  ferdi:
    image: getferdi/ferdi-server
    environment:
      - EXTERNAL_DOMAIN=ferdi.eathtespagheti.eu
      - SMPT_HOST=smtp
      - SMTP_PORT=25
      - MAIL_USERNAME=
      - MAIL_PASSWORD=
      - MAIL_SENDER=noreply@ferdi.eathtespagheti.eu
    volumes:
      - /run/media/fabio/Configs/Ferdi/config:/config
      - /run/media/fabio/Configs/Ferdi/database:/app/database
      - /run/media/fabio/Configs/Ferdi/recipes:/app/recipes
    ports:
      - 10008:80
    restart: unless-stopped

  hoppscotch:
    image: hoppscotch/hoppscotch:latest
    ports:
      - 10013:3000

  kms:
    image: teddysun/kms
    restart: unless-stopped
    depends_on: 
      - nginx
    ports:
      - 1688:1688

  netdata:
    image: netdata/netdata
    hostname: BigChameleon
    user: 1000:1000
    restart: unless-stopped
    ports: 
      - 19999:19999
    volumes: 
      - /run/media/fabio/Configs/Netdata/config:/etc/netdata
      - /run/media/fabio/Configs/Netdata/lib:/var/lib/netdata
      - /run/media/fabio/Configs/Netdata/cache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - NETDATA_CLAIM_TOKEN=GpktoJ9r2J_C1yTbyvPVbLiD5ZkOHSvMzM-Pny3G38WkAKqN-WpHopr9RMTdd8TPEHlF3dqH2gidjbwqe1kWan5BVx8hd991BLkVnT4J6K3dBMJ8EulbHyD-ZMzczJ_-vVQ5zoU
      - NETDATA_CLAIM_URL=https://app.netdata.cloud
      - NETDATA_CLAIM_ROOMS=5fc9fff4-afa7-418a-8e67-c93c05d1dc5a
    cap_add: 
      - SYS_PTRACE
    security_opt: 
      - apparmor=unconfined

  ofelia:
    image: mcuadros/ofelia:latest
    restart: unless-stopped
    depends_on: 
      - photoprism
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ofelia/jobs.ini:/etc/ofelia/config.ini

  picard:
    image: mikenye/picard
    restart: unless-stopped
    ports:
      - 5800:5800
    environment:
      - DISPLAY_HEIGHT=950
    volumes:
      - /run/media/fabio/Configs/picard:/config
      - /run/media/fabio/Nextcloud/data/fabio/files/Music:/storage

  transmission:
    hostname: Transmission
    image: ghcr.io/linuxserver/transmission
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - USER=fabio
      - FILE__PASS=/run/secrets/transmission_password
    volumes:
      - /run/media/fabio/Configs/transmission:/config
      - /run/media/fabio/Twins/Alpha:/run/media/fabio/Alpha
      - /run/media/fabio/Nextcloud/data/fabio/files/Music:/home/fabio/Music
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    secrets:
      - transmission_password

  yacht:
    hostname: Yacht
    image: selfhostedpro/yacht
    restart: always
    environment: 
      - PUID=1000
      - GUID=1000
      - ADMIN_EMAIL=sussarellu98@gmail.com
      - COMPOSE_DIR=/compose
    ports: 
      - 10004:8000
    volumes: 
      - /run/media/fabio/Configs/yacht:/config
      - /var/run/docker.sock:/var/run/docker.sock
      - $PROJECTS_FOLDER/dockercomposer:/compose

  uptime-kuma:
    image: louislam/uptime-kuma
    user: 1000:1000
    restart: always
    ports:
      - 10010:3001
    volumes: 
      - /run/media/fabio/Configs/uptime-kuma:/app/data
    depends_on: 
      - nginx

secrets:
  nextcloud_admin_password:
    file: ./secrets/nextcloud_admin_password
  postgres_password:
    file: ./secrets/postgres_password
  mysql-root:
    file: ./secrets/mysql-root
  mysql-user:
    file: ./secrets/mysql-user
  transmission_password:
    file: ./secrets/transmission_password

volumes: 
  jellyfinCache:
