# routing.{$DOMAIN_NAME} {
# 	reverse_proxy 192.168.1.1:80
# }

secrets.{$DOMAIN_NAME} {
	reverse_proxy bitwarden:80
}

cloud.{$DOMAIN_NAME} {
	header Strict-Transport-Security "max-age=15552000; includeSubDomains"
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301
	reverse_proxy nextcloud:80
}

videos.{$DOMAIN_NAME} {
	reverse_proxy jellyfin:80
}

{$DOMAIN_NAME} {
	respond 404
}
