version: "3.8"

services:
  db:
    image: postgres:alpine
    restart: always
    env_file:
      - .env
    volumes:
      - /run/media/fabio/nextcloud/postgres:/var/lib/postgresql/data
    secrets:
      - postgres_password

  redis:
    image: redis:alpine
    restart: always
    volumes:
      - /run/media/fabio/nextcloud/redis/redis-data:/var/lib/redis
  
  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt/archive/eathtespagheti.ddns.net:/certs

  smtp:
    image: namshi/smtp
    env_file:
     - .env
    restart: always
    volumes:
     - /etc/letsencrypt/archive/eathtespagheti.ddns.net:/certs
  
  nextcloud:
    build: ./custom-nextcloud
    image: eathtespagheti-nextcloud
    restart: always
    env_file:
      - .env
    volumes:
      - /run/media/fabio/nextcloud/nextcloud-data:/var/www/html
      - /run/media/fabio/nextcloud/media:/media
    depends_on:
      - db
      - redis
      - nginx
      - smtp
    secrets:
      - nextcloud_admin_password
      - postgres_password
  
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000
    depends_on:
      - nginx
    env_file: integration_keys.env # Contains Last.fm and Spotify integration keys
    environment:
      ND_SCANINTERVAL: 24h
      ND_ENABLETRANSCODINGCONFIG: "true"
      ND_LOGLEVEL: info  
      ND_BASEURL: "/music"
      ND_ENABLEGRAVATAR: "true"
    volumes:
      - $XDG_CONFIG_HOME/navidrome:/data
      - $HOME/Music:/music:ro
  
  transmission:
    image: ghcr.io/linuxserver/transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - USER=fabio
      - FILE__PASS=/run/secrets/transmission_password
    volumes:
      - $XDG_CONFIG_HOME/transmission-daemon:/config
      - /run/media/fabio/Beta:/run/media/fabio/Beta
      - /run/media/fabio/Alpha:/run/media/fabio/Alpha
      - /run/media/fabio/Beta/fabio/Music:/home/fabio/Music
    ports:
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    secrets:
      - transmission_password

secrets:
  nextcloud_admin_password:
    file: ./secrets/nextcloud_admin_password
  postgres_password:
    file: ./secrets/postgres_password
  transmission_password:
    file: ./secrets/transmission_password
