version: "3.8"

services:
  db:
    image: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - /run/media/fabio/nextcloud/postgres:/var/lib/postgresql/data
    secrets:
      - postgres_password

  app:
    image: nextcloud
    restart: always
    env_file:
      - .env
    ports:
      - 1234:80
    volumes:
      - /run/media/fabio/nextcloud/nextcloud-data:/var/www/html
    depends_on:
      - db
    secrets:
      - nextcloud_admin_password
      - postgres_password

volumes:
  db:
  nextcloud:

secrets:
  nextcloud_admin_password:
    file: ./secrets/nextcloud_admin_password # put admin password to this file
  postgres_password:
    file: ./secrets/postgres_password # put postgresql password to this file
